<ion-app>
    <ion-menu side="start" contentId="main">
        <ion-header>
            <ion-toolbar color="light">
                <ion-icon slot="start" name="person-circle-sharp" size="large"></ion-icon>
                <ion-title>Hello, User</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-item>Home</ion-item>
                <ion-item>Shop by Category</ion-item>
                <ion-item>Today's Deals</ion-item>
                <ion-item>Your Orders</ion-item>
                <ion-item>Buy Again</ion-item>
                <ion-item>Your Wishlist</ion-item>
                <ion-item>Your Account</ion-item>
                <ion-item>Your Notification</ion-item>
                <ion-item>Settings</ion-item>

            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet Id="main"></ion-router-outlet>
</ion-app>